@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";


.container {
  position: relative;

  &_inner {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    min-height: 40px;

    &_title {
      font-size: 24px;
      font-weight: bold;
      color: $blue;
    }

    &_buttonsGroup {
      display: flex;
      align-items: center;
      height: 40px;
      column-gap: 6px;
      width: 206px;

      & > button {
        height: 100%;
        width: 100px;
        background: $white-three;
        column-gap: 10px;
        border: 1px solid $light-gray;
        text-transform: capitalize;
      }

      & .refreshBtn {

        &:active {
          background: $gray;
        }
      }

      & .filterBtn {

      }
    }
  }

  & .disableFilter {
    @include filterContainer;
    visibility: hidden;
    opacity: 0;
    transition: 600ms;
    height: 0;
    margin-bottom: 20px;
  }

  & .filterContainer {
    @include filterContainer;
    transition: 300ms;
    visibility: visible;
    opacity: 1;
    margin-bottom: 15px;
    margin-top: 14px;
  }
}

@media (max-width: $desktop) {
  .container {

    &_inner {
      flex-direction: row;
      justify-content: space-between;
      row-gap: 0;
      align-items: center;

      &_buttonsGroup {
        width: auto;

        & .refreshBtn {
          @include filterSmallBtn;

        }

      }
    }

    & .filterContainer {
      max-width: 100%;
    }
  }

}

@media (max-width: $tablet) {

  .container {
    &_inner {
      flex-direction: column;
      align-items: stretch;
      row-gap: 18px;

      &_title {
        font-size: 19px;
      }

      &_buttonsGroup {

        .filterBtn {
          @include filterSmallBtn;
        }

      }
    }
    & .filterContainer {
       height: 192px;
    }
  }

}