@import "src/assets/styles/variables";

.container {
  display: flex;
  align-items: center;
  column-gap: 6px;
  cursor: pointer;

  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .arrowDown {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 5px solid $dark-gray;
  }
}

