// *** Colors ***

$gray: #eee;
$light-gray: #e0e0e0;
$dark-gray: #666;
$white: #fff;
$white-two: #e2e2e2;
$white-three: #f7f7f7;
$blue: #3971c1;
$black-one: #292929;
$black: #000;
$green: #4eb495;
$orange: #ef6c00;
$yellow: #ffb300;

// *** end ***

// *** breakpoints ***

$tablet: 768px;
$desktop: 1366px;

// *** end ***